
#logo {
  width: 100px;
  height: auto;
}

.titulo {
    background-image: linear-gradient(#34f9fc, #3146fa);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

nav {
  background-color: #34f9fc;
}
